body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.month-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.month-list > * {
  margin-top: 30px;
}

.month-list__item {
  padding: 20px;
  border: 1px solid gray;

  font-weight: 500;
}